{{> head}}
{{> header}}

<div class="error-box">
  <h1>{{title}}</h1>
  <p>{{message}}</p>
  <a class="btn" href="javascript:history.back()">Go Back</a>
  <a class="btn" href="/">Home</a>
</div>

{{> footer}}
